<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Comment</key>
		<string>ALC892 (1 of 2)</string>
		<key>Find</key>
		<data>ixnUEQ==</data>
		<key>Name</key>
		<string>AppleHDA</string>
		<key>Replace</key>
		<data>kgjsEA==</data>
	</dict>
	<dict>
		<key>Comment</key>
		<string>ALC892 (2 of 2)</string>
		<key>Find</key>
		<data>gxnUEQ===</data>
		<key>Name</key>
		<string>AppleHDA</string>
		<key>Replace</key>
		<data>AAAAAA==</data>
	</dict>
	<dict>
		<key>Comment</key>
		<string>HDMI Audio (1 of 2)</string>
		<key>Find</key>
		<data>PQsMAAA=</data>
		<key>Name</key>
		<string>AppleHDAController</string>
		<key>Replace</key>
		<data>PQwMAAA=</data>
	</dict>
	<dict>
		<key>Comment</key>
		<string>HDMI Audio (2 of 2)</string>
		<key>Find</key>
		<data>PQwKAAA=</data>
		<key>Name</key>
		<string>AppleHDAController</string>
		<key>Replace</key>
		<data>PQwMAAA=</data>
	</dict>
</array>
</plist>
